GOOGLE_API_KEY="your_gemini_key"
# Visit https://aistudio.google.com/ to get your api key

SERP_API_KEY="your_serpapi_key"
# Visit https://serpapi.com/ to get your api key

OLLAMA_MODEL=mxbai-embed-large

# Create a file named .env and copy paste this content there. Then replace the values of the keys with your actual API keys.